


	input[type="text"] {
	 width: 0%;
    padding: 50px 20px;
    margin: 8px 0;
  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	 
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
